{% extends 'base.html' %}
{% block title %}{{ super() }} - about game{% endblock %}
{% block body %}
    <br>
    <table width="100%" align="center">
        <tr>
            <td>
                <img src="../static/imgs/part1.png" width="100%" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/imgs/part2.png" width="100%" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/imgs/part3.png" width="100%" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/imgs/part4.png" width="100%" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/imgs/part5.png" width="100%" alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img src="../static/imgs/part6.png" width="100%" alt="">
            </td>
        </tr>
    </table>


{% endblock %}